---
layout: home
title: Film
---

				<!-- One -->
					<section id="social" class="banner style6 fullscreen orient-center content-align-left image-position-bottom onload-image-fade-in onload-content-fade-in">
						<div class="content">
							<h1>Film</h1>
							<h3>I take photos.</h3>
							<ul class="icons">
								
								{% if site.instagram_username %}
								<li><a href="https://www.instagram.com/{{ site.instagram_username }}" class="icon style3 fab fa-instagram"><span class="label">Instagram</span></a></li>
								{% endif %}
								{% if site.medium_id %}
								<li><a href="https://medium.com/@{{ site.medium_id }}" class="icon style3 fab fa-medium"><span class="label">Medium</span></a></li>
								{% endif %}
								{% if site.500px_username %}
								<li><a href="#" class="icon style3 fab fa-500px"><span class="label">500px</span></a></li>
								{% endif %}
								{% if site.phone %}
								<li><a href="tel:{{site.phone}}" class="icon style3 far fa-phone"><span class="label">Phone</span></a></li>
								{% endif %}
								{% if site.email %}
								<li><a href="mailto:{{ site.email }}" class="icon style3 far fa-envelope"><span class="label">Email</span></a></li>
								{% endif %}
							</ul>
							<ul class="actions vertical">
								<li><a href="#" class="button">Come and See </a></li>
							</ul>
						</div>
						<div class="image">
							<img src="images/headshots/fulls/IMG_1994.jpeg" alt="" />
						</div>
					</section>

				<!-- Two -->
					<section class="wrapper style1 align-center">
						<div class="inner">
							<h2>Gallery</h2>
							<p>(<a href="#reference-gallery">Full Portfolio</a>).</p>
						</div>

										<!-- Gallery -->
							<div class="gallery style2 medium lightbox onscroll-fade-in">
								<article>
									<a href="images/headshots/fulls/IMG_0014.JPG" class="image">
										<img src="images/headshots/fulls/IMG_0014.JPG" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/headshots/fulls/IMG_1867.jpg" class="image">
										<img src="images/headshots/fulls/IMG_1867.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/headshots/fulls/IMG_1980.jpg" class="image">
										<img src="images/headshots/fulls/IMG_1980.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/headshots/fulls/IMG_1994.jpeg" class="image">
										<img src="images/headshots/fulls/IMG_1994.jpeg" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/headshots/fulls/IMG_2028.jpg" class="image">
										<img src="images/headshots/fulls/IMG_2028.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/headshots/fulls/IMG_5912.JPG" class="image">
										<img src="images/headshots/fulls/IMG_5912.JPG" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/headshots/fulls/IMG_6653.JPG" class="image">
										<img src="images/headshots/fulls/IMG_6653.JPG" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/headshots/fulls/IMG_7164.JPG" class="image">
										<img src="images/headshots/fulls/IMG_7164.JPG" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/headshots/fulls/IMG_7375.JPG" class="image">
										<img src="images/headshots/fulls/IMG_7375.JPG" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/headshots/fulls/IMG_9472.JPG" class="image">
										<img src="images/headshots/fulls/IMG_9472.JPG" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/headshots/fulls/IMG_9614.JPG" class="image">
										<img src="images/headshots/fulls/IMG_9614.JPG" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/headshots/fulls/IMG_0014.JPG" class="image">
										<img src="images/headshots/fulls/IMG_0014.JPG" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
							</div>

					</section>

				<!-- Spotlight -->
					<section class="spotlight style2 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Spotlight</h2>
							<p>This is a <strong>Placeholder</strong> 
							<ul class="actions vertical">
								<li><a href="#" class="button">Learn More</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="images/headshots/fulls/IMG_7375.JPG" alt="" />
						</div>
					</section>

				<!-- Spotlight -->
					<section class="spotlight style2 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Spotlight</h2>
							<p>This is a <strong>Placeholder</strong> 
							<ul class="actions vertical">
								<li><a href="#" class="button">Learn More</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="images/headshots/fulls/IMG_1980.jpg" alt="" />
						</div>
					</section>

				<!-- Spotlight -->
					<section class="spotlight style2 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Spotlight</h2>
							<p>This is a <strong>Placeholder</strong> 
							<ul class="actions vertical">
								<li><a href="#" class="button">Learn More</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="images/headshots/fulls/IMG_2639.JPG" alt="" />
						</div>
					</section>

				<!-- Four -->
				<section class="spotlight style5 content-align-center">
					<div class="content">
						<ul class="actions vertical">
							<li><a href="/contact" class="button style4 icon far fa-paper-plane">Contact Me!</a></li>
						</ul>
					</div>
				</section>
